<ngx-spinner
bdColor = "rgba(51, 51, 51, 0.8)" size = "medium" color = "#0de353" type = "square-jelly-box"
></ngx-spinner> 
<div class="container">
  <div class="row">
    <div class="col d-flex align-items-center justify-content-center top">
      <!-- form card login -->
      <div class="card card-block p-4" style="background-image: url(https://s3.ap-south-1.amazonaws.com/portfolio-cloud/assets/images/bg_1.png);">
          <h2 class="text-center text-white"><i class="fa fa-lock mx-3"></i>Forgot Password?</h2>
            <p class="small text-mute text-white text-center mt-1">If you've forgotten your password,</p>
            <p class="small text-mute text-white"> we'll send you an email to reset your password.</p>
            <form #forgetForm="ngForm" novalidate>
            <div class="form-group px-3">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text" style="background-color:#5cb85c; color:#fff;">
                      <i class="fa fa-user"></i>
                  </div>
                </div>
                <input name="email" aria-label="email address" class="form-control input-lg requiredField" [(ngModel)]="email" placeholder="Email address"
                  required #mail="ngModel">
              </div>
            </div>

          <div class="alert alert-danger mx-2" *ngIf="mail.invalid && (mail.dirty || mail.touched)">
            <li><span *ngIf="mail.errors.required">Email address is required.</span></li>
          </div>
            <div class="form-group px-3">
              <button type="submit" aria-label="submit" class="btn btn-success btn-block" [disabled]="!forgetForm.form.valid" (click)="sendResetLink()">Reset Password</button>
            </div>
            <div class="text-center text-white mt-3 p-3">Do you remember ur password? <a title="login" style="text-decoration: underline;color:#5cb85c;cursor: pointer;"
                (click)="goToSignIn()">Sign In</a></div>
                </form>
          </div>
        </div>
      </div>

    </div>
